.austria_flag {
    background: url("../imgs/flags/Austria_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.belgium_flag {
    background: url("../imgs/flags/Belgium_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bulgaria_flag {
    background: url("../imgs/flags/Bulgaria_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.cyprus_flag {
    background: url("../imgs/flags/Cyprus_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.czechrep_flag {
    background: url("../imgs/flags/CzechRep_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.danemark_flag {
    background: url("../imgs/flags/Danemark_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.estonia_flag {
    background: url("../imgs/flags/Estonia_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.finland_flag {
    background: url("../imgs/flags/Finland_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.france_flag {
    background: url("../imgs/flags/France_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.germany_flag {
    background: url("../imgs/flags/Germany_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.greece_flag {
    background: url("../imgs/flags/Greece_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.hungary_flag {
    background: url("../imgs/flags/Hungary_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ireland_flag {
    background: url("../imgs/flags/Ireland_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.italy_flag {
    background: url("../imgs/flags/Italy_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.latvia_flag {
    background: url("../imgs/flags/Latvia_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.lithuania_flag {
    background: url("../imgs/flags/Lithuania_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.luxembourg_flag {
    background: url("../imgs/flags/Luxembourg_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.malta_flag {
    background: url("../imgs/flags/Malta_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.netherlands_flag {
    background: url("../imgs/flags/Netherlands_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.poland_flag {
    background: url("../imgs/flags/Poland_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.portugal_flag {
    background: url("../imgs/flags/Portugal_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.slovenia_flag {
    background: url("../imgs/flags/Slovenia_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.spain_flag {
    background: url("../imgs/flags/Spain_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sweden_flag {
    background: url("../imgs/flags/Sweden_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.turkey_flag {
    background: url("../imgs/flags/Turkey_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.uk_flag {
    background: url("../imgs/flags/UK_flag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}