@import 'reset', 'flags';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Spline+Sans:wght@400;500;700&display=swap');

$white_base: #FFFFFF;
$black_base: #212121;

$colorBg_light: #E1E1E1;
$contrast_light: #26394F;

$colorBg_dark: #443069;
$contrast_dark: #ECE8D9;

$fruits_color: #F14B4F;
$veggies_color: #68972A;

$contrast_fruits: #FAD0B9;
$contrast_veggies: #F1FF90;

$texts_light: $contrast_light;
$texts_dark: $contrast_dark;

// Keyframes for devices (begins at Iphone 6/7/8)

// Iphone 6/7/8 Plus
$iphonePlusWidth: 414px;
$iphonePlusHeight: 736px;

// Iphone X
$iphoneXWidth: 375px;
$iphoneXHeight: 812px;

// Iphone 12 Pro
$iphone12ProWidth: 390px;
$iphone12ProHeight: 844px;

// Iphone XR
$iphoneXRWidth: 414px;
$iphoneXRHeight: 896px;

// Ipad
$ipadWidth: 768px;
$ipadHeight: 1024px;

// Ipad Pro
$ipadProWidth: 1024px; 
$ipadProHeight: 1366px;

// Mac-13
$mac13Width: 1280px; 
$mac13Height: 800px;

// =============================================

html, body {
    background: $white_base;
    font-family: 'Roboto', sans-serif;
    font-family: 'Spline Sans', sans-serif;
}

.wrap {
    width: 100%;
    min-height: 100vh;
}

.no_available {
    display: none;
    width: 100%;
    min-height: 100vh;

    background: $colorBg_light;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;

    .container_no_available {
        display: block;
        width: 90%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .logo_no_available {
            width: 100%;
            height: 60px;

            background: url("../imgs/LogoBig.png");
            background-size: contain;
            background-position: top center;
            background-repeat: no-repeat;
        }

        .title_available {
            display: block;
            width: 100%;
    
            font-size: 1.5em;
            text-align: center;

            padding: 0.5em 0 0;
    
            color: $contrast_light;
        }
    }

}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 95%;
    margin: 0 auto;
    padding: 1em 0;

    .mode_switcher {
        width: 45px;
        height: 45px;
    }

    .switcher_light_mode {
        background: url("../imgs/DarkActivation.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .logo_zone {
        width: 62px;
        height: 80px;

        background: url("../imgs/LogoSmall.png");
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .info_zone {
        width: 40px;
        height: 40px;
    }

    .info_light_mode {
        background: url("../imgs/Light_Info.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.selection_zone {
    .title_app {
        width: 100%;
        padding: 0 0 0.5em;

        font-size: 1.6em;
        font-weight: 500;

        text-align: center;
        color: $texts_light;
    }

    .scrollmenu {
        // background-color: #333;
        overflow: auto;
        white-space: nowrap;

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        
        &::-webkit-scrollbar {
            display: none;
        }
    }
    
    .country_section, .month_section {
        .box_container {
            display: inline-block;

            text-align: center;
            text-decoration: none;

            .box_item {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                overflow: hidden;

                // margin: 0 0.25em;

                padding: 0.25em 0.5em;
                border-radius: 40px;
        
                background: $colorBg_light;
                
                // &:hover {
                //     background-color: #777;
                // }
    
                .flag_item {
                    display: block;
                    width: 40px;
                    height: 40px;
                    // background: red;
                }
        
                p {
                    padding: 0 0 0 0.3em;
                    font-weight: 500;
                    color: $texts_light;
                }
            }
        }
    }

    .season_section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        width: 100%;
        max-width: 450px;

        margin: 0 auto;
        padding: 1em 0;

        .box_container {
            display: inline-block;

            text-align: center;
            text-decoration: none;

            .box_item {
                // margin: 0 0.25em;

                padding: 1em 0.5em;
                border-radius: 0px;

                background: $colorBg_light;

                p {
                    padding: 0 0.3em;
                    font-weight: 500;
                    color: $texts_light;
                }
            }
        }
    }

    .month_section {
        .box_container {
            .box_item {
                width: 90px;
                // margin: 0 0.25em;

                padding: 1em 0.5em;
                border-radius: 30px;

                p {
                    width: 100%;
                    padding: 0 0.3em;
                    text-align: center;
                }
            }
        }
    }
}

.results_zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    .alternate_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
        width: 100%;
        max-width: 450px;

        margin: 0 auto;
        padding: 1.5em 0;

        .fruits_btn, .veggies_btn {
            display: block;
            width: 45%;
            padding: 0.3em 0;

            background: #797979;
            border-radius: 40px;
            
            font-size: 1.8em;

            color: $white_base;
            text-align: center;
        }

        .fruits_btn {
            background: $fruits_color;
            color: $contrast_fruits;
        }

        .veggies_btn {
            background: $veggies_color;
            color: $contrast_veggies;
        }

        .active {
            opacity: 0.3;
        }

    }

    .fruits_showcase, .veggies_showcase {
        display: block;
        width: 100%;
        height: 35vh;
        position: relative;

        background: $colorBg_light;

        .initial_text {
            display: block;
            width: 100%;

            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;

            font-size: 1.8em;
            text-align: center;

            color: $contrast_light;
        }
    }
}

.showcase_reel {
    margin: 1vh 0 0;

    // background-color: #333;
    overflow: auto;
    white-space: nowrap;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    .pic_item {
        display: inline-block;

        width: 50%;
        height: 33vh;

        margin: 0 0.3em 0;

        background: red;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;

        border-radius: 10px;
        box-shadow: 0 0 4px $black_base;

        position: relative;
        overflow: hidden;

        .pic_item_title {
            width: 100%;
            padding: 0.8em 0;

            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0%);

            font-size: 0.9em;
            text-align: center;
            color: $white_base;

            background: linear-gradient(rgba($black_base, 0), $black_base);
        }
    }
}

// KEYFRAMES ===================================

// NO AVAILABILITY
@media (max-width: 374px) and (max-height: 666px) {
    .no_available {
        display: block;
    }
}

@media (max-width: 1023px) and (max-height: 767px) and (orientation: landscape) {
    .no_available {
        display: block;
    }
}

// Iphone 6/7/8 Plus
@media (min-width: $iphonePlusWidth) and (min-height: $iphonePlusHeight) {
    .results_zone .fruits_showcase, .results_zone .veggies_showcase {
        height: 40vh;
    }
}

// Iphone X
@media (min-width: $iphoneXWidth) and (min-height: $iphoneXHeight) {
    .results_zone .fruits_showcase, .results_zone .veggies_showcase {
        height: 45vh;
    }
}

// Iphone 12 Pro
@media (min-width: $iphone12ProWidth) and (min-height: $iphone12ProHeight) {
    .results_zone .fruits_showcase, .results_zone .veggies_showcase {
        height: 45vh;
    }
}

// Iphone XR
@media (min-width: $iphoneXRWidth) and (min-height: $iphoneXRHeight) {
    .results_zone .fruits_showcase, .results_zone .veggies_showcase {
        height: 50vh;
    }
}

// Ipad
@media (min-width: $ipadWidth) and (min-height:$ipadHeight) {
    .selection_zone .title_app {
        font-size: 2.4em;
        padding: 1em 0;
    }

    .selection_zone .season_section {
        margin: 0 auto;
    }

    .results_zone .alternate_container {
        padding: 2.5em 0;
    }

    .results_zone .fruits_showcase, .results_zone .veggies_showcase {
        height: 38vh;
    }

    .results_zone .fruits_showcase .initial_text, .results_zone .veggies_showcase .initial_text {
        font-size: 2.4em;
    }
}

// Ipad Horizontal
@media (min-width: $ipadHeight) and (min-height: $ipadWidth) {
    .header .logo_zone {
        width: 360px;
        height: 65px;
        background: url("../imgs/LogoBig.png");
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
    }
    
    .selection_zone .season_section {
        margin: 0 auto;
    }
}


// Ipad Pro
@media (min-width: $ipadProWidth) and (min-height: $ipadProHeight) {
    .selection_zone .season_section {
        margin: 0 auto;
    }

    .selection_zone .scrollmenu {
        overflow: hidden;
        white-space: initial;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .selection_zone .country_section .box_container,
    .selection_zone .month_section .box_container {
        padding: 0.3em 0.25em;
    }

    .results_zone .fruits_showcase, .results_zone .veggies_showcase {
        height: 33vh;
    }

    .results_zone .fruits_showcase .initial_text, .results_zone .veggies_showcase .initial_text {
        font-size: 3.2em;
    }

}

// Ipad Pro Horizontal
@media (min-width: $ipadProHeight) and (min-height: $ipadProWidth) {
    .results_zone .fruits_showcase, .results_zone .veggies_showcase {
        height: 32vh;
    }
}


// Mac-13
@media (min-width: $mac13Width) and (min-height: $mac13Height) {
    .selection_zone .season_section {
        margin: 0 auto;
    }

    .selection_zone .scrollmenu {
        overflow: hidden;
        white-space: initial;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .selection_zone .country_section .box_container,
    .selection_zone .month_section .box_container {
        padding: 0.3em 0.25em;
    }

    .selection_zone .month_section .box_container {
        padding: 0.3em 0.1em;
    }

    .results_zone .alternate_container {
        padding: 1.5em 0;
    }
}